:root {
    --color-primary: '';
    --color-secondary: '';
}

body {
    margin: 0%;
    box-sizing: border-box;
    padding: 0;
    background-color: #000000;
    background-image: url("/View/HTML/Images/img5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
    height: 1100px;
}


/* --- Header --- */

header {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.6);
    height: 1100px;
}


/* --- Social and Contact info --- */

.social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
}

.social svg {
    width: 15px;
    color: #ffffff;
    cursor: pointer;
}

.social-applications {
    width: auto;
    display: flex;
    align-items: center;
}

.social-applications div {
    margin: 0 10px;
}

.contact-info {
    width: auto;
    display: flex;
    align-items: center;
}

.email,
.mobile {
    margin: 0 10px;
    display: flex;
    align-items: center;
}

.mobile-logo,
.email-logo {
    margin: 0 5px;
}


/* --- Logo and Nav --- */

.logo-and-nav {
    padding: 10px 10%;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin: 0 10px;
    font-size: 30px;
    font-weight: 100;
    user-select: none;
}

.logo span {
    color: red;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.nav-menu li {
    display: inline-block;
    margin: 0 25px;
}

.nav-menu a {
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    display: block;
    position: relative;
    padding: 4px 0;
}

.nav-menu a::before {
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -15px;
    background: #fff;
    transition: 0.5s transform ease;
    transform: scale3d(0, 1, 1);
    transform-origin: 0 50%;
}

.nav-menu a:hover::before {
    transform: scale3d(1, 1, 1);
}

.nav-menu-item a::before {
    transform-origin: 50% 50%;
    background: red;
}


/* --- Header Quote --- */

.header-quote {
    padding: 150px 10%;
    font-size: 40px;
    width: 50%;
    color: rgba(255, 255, 255, 0.8);
}


/* form */

.bg_img {
    height: 300px;
}

.content_f {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 999;
    width: 470px;
    text-align: center;
    padding: 60px 32px;
    background: rgba(255, 255, 255, 0.09);
    box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.8);
}

.content_f h2 {
    text-align: 100%;
    color: White;
    font-size: 30px;
    margin-top: 5px;
}

.content_f h2 span,
label span {
    color: red;
    font-weight: bolder;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 17px;
    text-align: left;
    margin-left: 17px;
}

label i {
    color: #999;
    font-size: 80%;
}

input,
select {
    border: 1px solid #222;
    padding: 15px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 2px;
    margin-left: 3px;
}

.box {
    padding-bottom: 10px;
}

.form-inline {
    border: 1px solid #ccc;
    padding: 2px 10px 15px;
    border-radius: 2px;
    background-color: white;
    color: #222;
}

.form-inline label,
.form-inline input {
    display: inline-block;
    width: auto;
    padding-right: 15px;
}

.error {
    color: red;
    font-size: 15px;
}

input[type="text"] {
    outline: none;
}

.submit {
    font-size: 20px;
    font-weight: 200;
    background-color: rgb(233, 40, 40);
    border: 2px solid red;
    color: white;
    margin-top: 10px;
    cursor: pointer;
}

.submit:hover {
    background-color: red;
    border-color: tomato;
}

.input-1 {
    background-image: url("/View/HTML/Images/check.png");
    background-repeat: no-repeat;
    background-position: right 10px center;
    border: 1px solid #01cc40;
}

.input-2 {
    background-image: url("/View/HTML/Images/cancel.png");
    background-repeat: no-repeat;
    background-position: right 10px center;
    border: 1px solid red;
}

.input-3 {
    border: 1px solid #01cc40!important;
}

select {
    outline: none!important;
}

.input-4 {
    border: 1px solid red;
}


/* footer */

.footer {
    background-color: #2d2d2d;
    padding-top: 20px;
    height: 200px;
    width: 100%;
    text-align: center;
    color: white;
}

.footer span {
    color: red;
}

.container {
    width: 50%;
    display: flex;
}

.social_container {
    width: 20%;
    justify-content: space-between;
    color: whitesmoke;
    margin-left: 550px;
}

.social_icon {
    height: 30px;
    width: 30px;
    background-size: cover;
}

.copyright {
    background-color: #2d2d2d;
    color: white;
    height: 30px;
    width: 100%;
    margin-top: 30px;
    padding-bottom: 20px;
}

.copyright_1 {
    text-align: center;
}